<div class="container-fluid mt-2" *ngIf="person$ | async as person">
  <div class="row">
    <div class="col-sm-4">
      <div *ngIf="person.profile_path">
        <img src="{{ urlImage }}{{ person.profile_path }}" />
      </div>
      <div *ngIf="!person.profile_path">
        <img src="../assets/Profile.png" />
      </div>
    </div>
    <div class="col-sm-8">
      <h3>
        <b>{{ person.name }}</b>
      </h3>
      <p><b>Date of birth:</b> {{ person.birthday }}</p>
      <p><b>Place of birth:</b> {{ person.place_of_birth }}</p>
      <p *ngIf="person.biography"><b>Biography:</b> {{ person.biography }}</p>
      <p *ngIf="!person.biography">
        <b>Biography:</b> We don't have a biography for {{ person.name }}.
      </p>
    </div>
  </div>
</div>
