<div class="top-bar">
  <h1 routerLink="">Home page</h1>
    <div *ngFor="let userName of moviesService.userName">
      <h3>{{userName}}</h3>
    </div>
  <div class="buttons">
    <div class="profile-buttons">
      <div *ngIf="!isLoggedin">
        <button type="button" class="btn btn-outline-success" (click)="openModal()">Login</button>
      </div>
      <div *ngIf="isLoggedin === true">
        <div ngbDropdown class="d-inline-block">
          <button type="button" class="btn btn-outline-success" id="dropdownBasic1" ngbDropdownToggle>{{socialUser.firstName}}</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem routerLink="profile">View profile</button>
            <button ngbDropdownItem (click)="signOut()">Logout</button>
          </div>
        </div>
      </div>
    </div>
    <div>
      <button type="button" class="btn btn-outline-success" title="click here" routerLink="movies-list">Watch list movies</button>
    </div>
  </div>
</div>
<button routerLink="/search/:">Search</button>

<div>
    <router-outlet></router-outlet>
</div>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>


