<div class="top-bar">
  <h1>Home page</h1>
  <button type="button" class="btn btn-outline-success" routerLink="movies-list">List of movies to watch</button>
</div>
<div class="container">
  <div class="categories">
    <h3>Categories:</h3>
    <ul>
    <li><button type="button" class="btn btn-outline-success" routerLink="popular-movies">Most popular movies</button></li>
    <li><button type="button" class="btn btn-outline-success" routerLink="search-engine">Movie search engine</button></li>
  </ul>
  </div>
  <div class="contents">
    <router-outlet></router-outlet>
  </div>
</div>


