.top-bar {
    display: flex;
    background-color: aquamarine;
    justify-content: space-between;
}

.container {
    display: flex;
}

.categories {
    border-right: 1px solid black;
    padding: 1rem;
    min-height: 700px;
    min-width: 180px;
}

.contents {
    padding: 3rem;
}
