<div class="modal-header">
    <div class="login-table">
        <h4>Login to your account. </h4>
        <div class="nick">
            <div>
                <b>Nick:</b>
            </div>
            <div>
                <input placeholder="Your nick" #nick>
            </div>  
        </div>
        <div type="text" class="password mb-4">
            <div>
                <b>Password:</b>
            </div>
            <div>
                <input type="password" placeholder="Your password" #password>
            </div>   
            <button class="btn btn-primary" (click)="login(nick.value, password.value)">Log in</button>
        </div>
    </div>
</div>
<div class="modal-body d-flex flex-column align-items-center">
    <div *ngIf="!isLoggedinFb">
        <button (click)="loginWithFacebook()" class="btn btn-primary m-2">Login in with Facebook</button>
    </div>
    <div *ngIf="isLoggedinFb">
        <a routerLink="/profile">
            <button class="btn btn-success m-2" (click)="activeModal.close()">You are logged with Facebook</button>
        </a>
    </div>
    <div *ngIf="!isLoggedInGoogle()">
        <button (click)="loginWithGoogle()" class="btn btn-primary m-2">Login in with Google</button>
    </div>
    <div *ngIf="isLoggedInGoogle()">
        <a routerLink="/profile">
            <button class="btn btn-success m-2" (click)="activeModal.close()">You are logged with Google</button>
        </a>
    </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>