<div *ngIf="data$ | async as data">
    <h3>{{data.title}}</h3> 
    <div class="container">
        <div class="left-column">
            <img  src="{{urlImage}}{{data.poster_path}}">
        </div>
        <div class="right-column">
            <p><b>Runtime:</b> {{data.runtime | trnsformTime}}</p>
            <p><b>Date:</b> {{data.release_date}}</p>
            <p><b>Genres:</b>
                <span *ngFor="let genre of data.genres">
                    {{genre.name}},
                </span>
            </p>
            <p><b>Overview:</b>{{data.overview}}</p>
        </div>
    </div>
</div>

<button (click)="getCasts()">List of actors</button>
<div *ngFor="let person of persons">
    <ul>
         <li>
            <a routerLink="/person/{{person.id}}">{{person.name}}</a>
        </li>
    </ul>
</div>




