.container {
    display: flex;
}

.right-column {
    padding: 1rem;
}

.persons {
    display: flex;
    overflow-y: auto;
}

.star, .rate {
    color: rgb(233, 215, 53);
    font-size: xx-large;
}
