<h3>
    <button type="button" class="btn btn-primary btn-sm m-1" (click)="getToken()" [disabled]="activateButton">Get token</button>
    <button type="button" class="btn btn-primary btn-sm" title="Add this movie to list movies to watch" (click)="addToWatchlist()" >Add to watch</button>
</h3> 
 <a target="_blank" href="{{this.permission}}{{tokenNumber}}">{{tokenNumber}}</a>

<div *ngIf="data$ | async as data">
    <div class="container">
        <div class="left-column">
            <img  src="{{urlImage}}{{data.poster_path}}">
        </div>
        <div class="right-column">
            <p><b>Runtime:</b> {{data.runtime | trnsformTime}}</p>
            <p><b>Date:</b> {{data.release_date}}</p>
            <p><b>Genres: </b>
                <span *ngFor="let genre of data.genres">
                    <a routerLink="/genre/{{genre.id}}/{{genre.name}}">{{genre.name}},</a>
                </span>
            </p>
            <p><b>Overview:</b>{{data.overview}}</p>
        </div>
    </div>
</div>

<h3 class="mt-3">Cast</h3>
<div class="persons" *ngIf="persons$ |async as persons">
    <div *ngFor="let person of persons.cast">
     <ul>
             <li>
            <a routerLink="/person/{{person.id}}">{{person.name}}</a>
        </li>
        </ul>
    </div>
</div>

<app-recommendations-movies></app-recommendations-movies>
<lib-ng-toast></lib-ng-toast>


